In [1]:
print("Hello world !!")

Hello world !!

In [2]:
age = input('Enter your age :')
if int(age)>= 18:
    print("You're eligible to vote.")
else:
    print("Your're not eligible to vote.")

You're eligible to vote.

In [3]:
ge = input("Enter your age: ")

your_age = int(age)
if your_age < 5:
    ticket_price = 5
elif your_age < 16:
    ticket_price = 10
else:
    ticket_price = 18

print(f"You'll pay ${ticket_price} for the ticket")

You'll pay $18 for the ticket

In [4]:
def greet():
    print("Hi")

greet()

Hi

In [5]:
def sum(a,b):
    return a + b
total = sum(20,30)
print(total)

50

In [6]:
colors=['purple','white','Black']
print(colors)

coordinates = [[0,0],[100,100],[200,200]]
print(coordinates)

numbers = [1,3,4,6,7,10]
print(numbers[3])
print(numbers[-1])

['purple', 'white', 'Black']
[[0, 0], [100, 100], [200, 200]]
6
10

In [7]:
numbers =[1,2,4,12,14,16]
numbers[2]=5

print(numbers)

[1, 2, 5, 12, 14, 16]

In [8]:
numbers = [1,3,5,7,9,12,16]
numbers.append(100)

print(numbers)

numbers = [1,3,5,7,9,12,16]
numbers.insert(3,70)

print(numbers)

[1, 3, 5, 7, 9, 12, 16, 100]
[1, 3, 5, 70, 7, 9, 12, 16]

In [9]:
numbers =[1,3,7,9,4]
del numbers[0]

print(numbers)

[3, 7, 9, 4]

In [10]:
numbers = [1,3,4,5,6,7,9]
numbers.remove(3)

print(numbers)

[1, 4, 5, 6, 7, 9]

In [11]:
rgb=('red','green','blue')

print(rgb[0])
print(rgb[1])
print(rgb[2])

red
green
blue

In [12]:
numbers=[1,2,3,4,5]

squares=[]
for number in numbers:
    squares.append(number**2)
print(squares)

numbers=[2,3,4,5,6]
squares = [number**2 for number in numbers]

print(squares)

[1, 4, 9, 16, 25]
[4, 9, 16, 25, 36]

In [14]:
person={
    'first_name':'Thida',
    'last_name' : 'Ra',
    'age' : 21,
    'favorite_color':['purple','black'],
    'active': True
    
}
print(person["first_name"])
print(person["last_name"])
print(person["age"])
print(person["favorite_color"])
print(person["active"])
person['Gender']= 'female'
print(person)

del person['active']
print(person)

Thida
Ra
21
['purple', 'black']
True
{'first_name': 'Thida', 'last_name': 'Ra', 'age': 21, 'favorite_color': ['purple', 'black'], 'active': True, 'Gender': 'female'}
{'first_name': 'Thida', 'last_name': 'Ra', 'age': 21, 'favorite_color': ['purple', 'black'], 'Gender': 'female'}

In [15]:
stock={
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 280,
    'BIIB': 219,
    'QDEL': 266,
    'LVGO': 144
}

new_stock={}
for symbol,price in stock.items():
    new_stock[symbol]= price*1.02

print(new_stock)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 285.6, 'BIIB': 223.38, 'QDEL': 271.32, 'LVGO': 146.88}

In [16]:
stock={
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 280,
    'BIIB': 219,
    'QDEL': 266,
    'LVGO': 144
}
new_stock={symbol: price* 1.02 for (symbol,price)in stock.items()}

print(new_stock)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 285.6, 'BIIB': 223.38, 'QDEL': 271.32, 'LVGO': 146.88}